:root {
    --couleur-principale: #003057;
    --couleur-secondaire: #f8a433;
    --couleur-tertiaire: #ffa90d;
    --couleur-texte: #333333;
    --couleur-fond: #ffffff;
    --couleur-fond2:cadetblue;
    --couleur-surbrillance: #ff4b00;
}
body{background-image:url(../asset/img/jdq.svg);
background-size:15%;
}
