@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Style a commenter !!!  */
:root {
    --couleur-principale: #003057;
    --couleur-secondaire: #f8a433;
    --couleur-tertiaire: #ffa90d;
    --couleur-texte: #333333;
    --couleur-fond: #ffffff;
    --couleur-fond2:cadetblue;
    --couleur-surbrillance: #ff4b00;
}
body{
    font-family: 'Poppins','roboto' sans-serif;
}
