
body {

    font-family: 'Poppins', sans-serif;
}


/* Style de tous les liens */
a {
    color: #ff4b00;
    font-weight: 600;
    text-decoration: none;
}

/* Survol des liens */
a:hover {
    color: #003057;
}

/* Style du bloc h1 */
h1 {
    background-color: #ffa90d;
    border-radius: 8%;
    box-shadow: 3px 3px 3px 3px, 0px 0px 0px 0px, 4px 4px 2px 2px, 0px 0px 0px 0px;
    color: #333333;
    margin-left: 15rem;
    margin-top: 3rem;
    padding: 1rem;
    padding-right: 5rem;
    width:fit-content;
}

/* Style du bloc h2 */
h2 {
    background-color: #333333;
    box-shadow: 10px 10px 10px 10px, 0px 0px 0px 0px, 15px 15px 5px 5px, 0px 0px 0px 0px;
    color: #ffffff;
    font-family: 'roboto', 'poppins';
    margin-left: 13rem;
    margin-top: 3rem;
    padding: 1rem;
    width: 22%;
}

/* Style des liens de contact */
.contact-link {
    box-shadow: -2px 5px 2px 2px #333333, 2px 2px 2px 2px, 2px 2px 2px 2px, 2px 2px 2px 2px #003057;
    display: inline-block;
    font-weight: 500;
    margin: 5% 0% 0% 20%;
    padding: 0.5rem;
    width: auto;
    background-color: #ffffff;
}

/* Style de la carte Google Maps */
.map-container {
    display: flex;
    justify-content: center;
    padding-bottom: 75%;
}

.map-container iframe {
    position: absolute;
    width: 75%;
}

/* Style des numéros de téléphone et des adresses e-mail */
#email, #telephone, a {
    color: #ff4b00;
    font-weight: 600;
    text-decoration: none;
}
