.hero-section{
   width:100%;
   height:600px;
   display: flex;
   justify-content: center;

}
.inner-hero-section{
   width:100%;
   height: 100%;
   position: relative;
   margin-top: 20px;
   
}
.img-hero-container{
    width: 100%;
    height:100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    z-index: 0;
}
.img-hero{
    width: 100%;
    height:auto;
    filter: brightness(50%);
}
.hero-content{
    position: absolute;
    z-index: 10;
    color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-title{
    text-align: center;
    width:60%;

}

.hero-paragraph{
    text-align: center;
    color: var(--background-footer);
    width: 60%;
    font-weight: 200;
}

.strong-word-hero-paragraph{
    font-weight: 200;
}

.emp-word-hero-paragraph{
    font-style: normal;
}

.hero-button{
    width:180px;
    height:45px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: var(--primary);
    cursor: pointer;
    transition: all ease-in 0.3s;
}

.hero-button:active{
    transform: scale(0.95);
}

.hero-button:hover{
    opacity: 0.8;
}
.hero-button-link{
    color:var(--background);
    text-decoration: none;
    font-weight: 300;
}

.hero-button-link:visited{
    color:var(--background)
}

.about-us-section{
    width: 100%;
    height:500px;
    margin-top: 80px;

}

.about-us-inner-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    width:100%;
    height:100%;

}

.about-us-text-container{
    width:50%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about-us-video-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    height:100%;
    overflow: hidden;
    border-radius: 10px;
}

.about-us-video{
    width: auto;
    height:100%;
    object-fit: contain;
 }
 