:root {
    --couleur-principale: #003057;
    --couleur-secondaire: #f8a433;
    --couleur-tertiaire: #ffa90d;
    --couleur-texte: #333333;
    --couleur-fond: #ffffff;
    --couleur-fond2:cadetblue;
    --couleur-surbrillance: #ff4b00;
}

body {
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;


}
a{
    text-decoration: none;
}

footer{
    width: 1440px;
    height:95px;
    top:1446px;
}
#container-main {
    width: 1440px,auto;
    height:1348px;
    top:98px;
    margin-left:5rem ;
    margin-right:5rem;
    background-color: #ffffff;
}

.flexarticle {
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
    margin:2rem;
    color: #333333;
    border-top:solid 0.2rem #ffa90d;
    width:1201px,auto;
    height:573.73px,auto;
}
.flexarticle p {
    display: flex;
    flex:2;
    justify-items: flex-end;
    text-align:right;
    padding: 1rem;
    margin:2rem;
    background-color: lightgray;
    border: 1px solid #f8a433 ;
    box-shadow: 2px 2px 2px 2px ,0px 0px 0px 1px,3.5px 1.5px 3.5px 1.5px, 0px 0px 0px 0px;
}
img{
    box-shadow:10px 10px 10px 10px,0px 0px 0px 0px,15px 15px 5px 5px,0px 0px 0px 0px;

}
.manonimg {
    display: flex;
    flex:1;
    justify-items: flex-start;
    border-top:solid 0.2rem #ffa90d;
    border-bottom:solid 0.2rem #ffa90d;
    width:378px,auto;
    margin-bottom:4em;
    margin: 1rem;
    
}
h3{
    display: block;
    text-align: end;
    color: #333333;
}
h2, h1 {
    text-align: center;

    margin-left:5rem;
    margin-top:3rem;
    background-color: #ffa90d;
    font-weight: 200;
    border-radius: 5%;
    box-shadow:10px 10px 10px 10px,0px 0px 0px 0px,15px 15px 5px 5px,0px 0px 0px 0px;

}




a::before{
    color:#000000;
}

a:hover{
    color:#ffffff;

}
a::after{
    color:green;
}
