:root {
    --couleur-principale: #003057;
    --couleur-secondaire: #f8a433;
    --couleur-tertiaire: #ffa90d;
    --couleur-texte: #333333;
    --couleur-fond: #ffffff;
    --couleur-fond2:cadetblue;
    --couleur-surbrillance: #ff4b00;
}
body{
    font-family: 'Poppins',sans-serif;
    
}
.index-main-container {
    display: flex;
        flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 4rem;
    margin-right: 4rem;
}


h1{
color: #333333;
border-top: solid 0.7rem var(--couleur-surbrillance);
border-top-style:groove;
padding-bottom: 2rem;
margin-right: 40%;
padding-top: 2rem;
background-color:#ffa90d;
background-size: 40rem;
border-radius: 7%;
width: max-content;
}
h4{
    color: #333333;
    border-top: solid 0.2rem  groove,  var(--couleur-surbrillance);


}
.who-we-are {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.who-text {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    width: 599px;
    color: #003057;
}

.video-right {
    display: flex;
    margin: auto;
    padding-top:1rem;
    padding-bottom:1rem;
    padding-right:2rem;
    background-color: #ffa90d;    
    border-radius: 7%;
}

video{
    width:599px;
}
.svgjdq {
    width:500px;
    padding:0px;
}
