/* Importation des polices Google 'Poppins' et 'Roboto' */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Variables globales pour les couleurs utilisées dans le site. */
:root {
    --background: #ffffff;
    --background-two: cadetblue;
    --background-footer: rgb(239, 239, 239);
    --primary: #003057;
    --secondary: #f8a433;
    --hover: #ff4b00;
    --third: #ffa90d;
    --text: #333333;
}

/* Style de base pour le body, définit la police globalement ainsi que l'orientation complète de la page*/
body {
    font-family: 'Poppins', sans-serif;
    padding:0px;
    margin:0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Section main pour mettre le cadre dans un container de 1200px*/
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin-top: 80px;
    margin-bottom: 80px;
}

