@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --couleur-principale: #003057;
    --couleur-secondaire: #f8a433;
    --couleur-tertiaire: #ffa90d;
    --couleur-texte: #333333;
    --couleur-fond: #ffffff;
    --couleur-fond2: cadetblue;
    --couleur-surbrillance: #ff4b00;
}

body {
    font-family: 'Poppins', sans-serif;
}

main {
    width: 100%;
    padding-left: 10rem;
    padding-top: 7%;
    background-image:url(../asset/img/jdq.svg);
    background-size: 12%;
}

table {
    height: 25rem;
    width: 60rem;
    box-shadow: 2px 2px 2px 2px ,0px 0px 0px 1px,3.5px 1.5px 3.5px 1.5px, 0px 0px 0px 0px;
    background-color:#ffffff;
}

.adhesiontable th,
.adhesiontable td {
    text-align:center;
    border-bottom: 0.2rem solid #ffffff;
    color: #333333;
}

.adhesiontable th {
    background-color: #f2f2f2;
    height:50px;
}

.adhesiontable tr:hover {
    background-color: #f5f5f5a9;
}

h2 {
    display:block;
    width: fit-content;
    border:2px solid black;
    color: #333333;
    text-align: start;
    box-shadow: 2px 2px 2px 2px ,0px 0px 0px 1px,3.5px 1.5px 3.5px 1.5px, 0px 0px 0px 0px;
}


td {
    border: gray solid 2px;
    
}

.contentbox{
    display: flex;
    flex-direction: column;
    font-size: large;
}

.forfaitbasique{
    display:table-cell;
    border:2px solid gray;
    vertical-align: top;
}

.forfaitprenium{
    display:table-cell;
    border:2px solid gray;
    vertical-align: top;
}

.forfaitvip{
    display:table-cell;
    border:2px solid gray;
    vertical-align: top;
}
.contentbox p {
border-bottom: 2px solid gray;
color: #333333;
}

.adhesion-button{

    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    }
button a {
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;

}
