.pricingarray-page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1080px;
    width:100%;
    height:auto;
    margin:0 auto;

}


.pricingarray-main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:500px;
    width:1080px;
}


.pricingarray-row-small{
    width:100%;
    height:20%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pricingarray-row-big{
   width:100%;
   height:40%;
   display: flex;
   flex-direction: row;
   align-items: center;

}
.pricingarray-square-rowsmallfirst{
width:10%;
height:100%;
}
.pricingarray-square-rowsmall{
    width:10%;
    height:100%;
    border:0.5px solid black;
}
.pricingarray-square-row{
    width:30%;
    height:100%;
    border:0.5px solid black;
}
